html {
  background-color: rgb(178, 208, 210);
}

h1 {
  color: rgb(17, 17, 17);
}
.bg-primary {
  background-color: rgb(108, 108, 108);
}
.text-white {
  color: white;
}

.p-primary {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  gap: 10px;
}

.prose {
  max-width: 400px;
}

#title {
  text-decoration: underline;
  font-weight: 100;
}

.navbar img {
  width: 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: grid;
  justify-content: end;
  gap: 10px;
}
